/*All right reservied by Huipu Xu*/

/*for big tablets to 1200px(width smaller than the 1140px row)  */
@media only screen and (max-width:1200px) {
    .hero-text-box {
        position: absolute;
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }
}

/*for small tablets to big tablets: from 768px - 1023px */
@media only screen and (max-width:1023px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 40px 0;
    }

    header {
        height: 80vh;
    }

    /*----about me----*/
    .flip-card-front,
    .card-color,
    .card-cover,
    .flip-card-inner,
    .flip-card {
        right: 5%;
    }

    .card-cover {
        position: absolute;
    }

    .flip-card-back {
        right: 9%;
    }

    .long-copy {
        line-height: 110%;
        text-align: justify;
    }

    blockquote {
        margin-left: 10%;
        font-size: 110%;
    }

    /*----skills----*/

    .row h3 {
        word-spacing: 100px;
        text-align: center;
        font-size: 80%;
    }

    /*----education----*/
    .content ul {
        list-style: none;
        text-align: left;
        font-size: 60%;
        margin-left: 5%;
    }

    .content h3 {
        font-size: 90%
    }

    .content ul li {
        width: 110%;
    }
}

/*for small tablets: from 500px - 767px */
@media only screen and (max-width:767px) {
    body {
        font-size: 16px;
    }

    /*header*/
    header {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.8))), url(img/hero-mobile.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(img/hero-mobile.jpg);
        background-size: cover;
        height: 70vh;
    }

    .logo,
    .logo-black {
        height: 30px;
        margin-top: 10px;
    }

    .main-nav {
        font-size: 90%;
        margin: 0;
    }

    .main-nav li {
        display: inline-block;
        margin-left: 20px;
        margin-top: 20px;
    }

    .hero-text-box h1 {
        font-size: 300%;
        padding-bottom: 150px;
    }

    /*about me*/
    .html5 {
        height: 25%;
        width: 25%;
    }

    .css3 {
        height: 20%;
        width: 20%;
    }

    .js {
        height: 20%;
        width: 20%;
    }

    .jquery {
        height: 15%;
        width: 15%;
    }

    .js,
    .jquery {
        padding-top: 10px;
    }

    .flip-card-back {
        height: 160%;
        margin-right: 1%;
        font-size: 80%;
    }

    .flip-card-back div h1 {
        margin-top: 20%;
    }

    .flip-card-inner {
        width: 80%;
        height: 50%;
    }

    .card-cover,
    .card-color {
        width: 100%;
        height: 80%;
    }

    .card-color {
        top: 80%;
    }

    .social-icons {
        left: 10%;
    }

    .my-photo {
        height: 50%;
        width: 40%;
        border-radius: 60%;
        bottom: 75%;
        left: 30%;
    }

    h1 {
        font-size: 180%;
    }

    h2 {
        font-size: 150%;
    }

    .long-copy {
        width: 90%;
        font-size: 90%;
    }

    .gallery-showcase {
        list-style: none;
        width: 110%;
    }

    .section-skills {
        background-color: #eaeaea;
        width: 100%;
    }

    .skills-box {
        background-color: white;
        border-radius: 5px;
        width: 70%;
        margin-left: 15%;
        -webkit-box-shadow: 0 2px 2px #aaaaaa;
        box-shadow: 0 2px 2px #aaaaaa;
        font-size: 90%;
    }

    .content ul,
    .skills-box ul {
        list-style: none;
        font-size: 70%;
        text-align: left;
        margin-left: 5%;
    }

    .content h3 {
        font-size: 80%;
        margin-bottom: 15px;
        text-align: center;
    }

    .university-logo {
        height: 70px;
        margin-left: 30%;
        margin-bottom: 10px;
    }

    #myBtn {
        bottom: 5%;
        /* Place the button at the bottom of the page */
        right: 1%;
        /* Place the button 30px from the right */
    }

    .row,
    .hero-text-box {
        padding: 0 3%;
    }

    .row {
        width: 100%;
        margin: 0;
    }

    footer {
        padding: 10px;
        font-size: 70%;
    }
}


/*for small phone: from 0 - 499px */

@media only screen and (max-width:499px) {
    section {
        padding: 25px 0;
    }

    header {
        height: 60vh;
    }


    .logo,
    .logo-black {
        height: 30px;
        margin-top: 25px;
    }

    .main-nav {
        display: none;
    }

    .mobile-nav-icon {
        display: block;
    }

    .main-nav li {
        margin: 10 0 0 10px;
        display: block;

    }

    .sticky .main-nav {
        margin-top: 0;
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        color: #555;
    }

    .hero-text-box {
        top: 45%;
        left: 50%;
    }

    .flip-card {
        margin-left: 20%;
    }

    .flip-card-front {
        left: 10%;
    }

    .flip-card-back {
        left: 5%;
    }

    .my-photo {
        width: 40%;
        height: 50%;
    }

    .html5 {
        height: 10%;
        width: 10%;
    }

    .css3 {
        height: 15%;
        width: 15%;
    }

    .js {
        height: 8%;
        width: 8%;
    }

    .jquery {
        height: 10%;
        width: 10%;
    }

    .flip-card-back div h1 {
        margin-top: 10%;
    }

    .long-copy {
        width: 80%;
        padding-top: 0;
        margin-top: 0;
    }

    .gallery-showcase li {
        width: 50%;
        margin-left: 10%;
        font-size: 100%;
    }

    .tablink {
        padding: 3%;
        font-size: 80%;
        width: 25%;
    }

    .tabcontent {
        padding: 10% 5%;
        height: 80%;
    }

    .tabcontent p {
        font-size: 80%
    }

    .row h3 {
        word-spacing: 20px;
        font-size: 60%;
        margin: 5%;
    }

    .bar-container {
        width: 90%;
    }

    .bar-skills {
        padding-right: 10%;
        line-height: 10px;
        margin-bottom: 10px;
    }

    .content ul {
        font-size: 80%;
    }

    #myBtn {
        bottom: 2%;
        /* Place the button at the bottom of the page */
        right: 1%;
        /* Place the button 30px from the right */
    }
}